{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="col-8 m-auto pt-2 pb-2 text-center">
    {% load account %}
    <h1>{% user_display user %} Profile</h1>
    
    {% for PetProfile in object_list %}
        {% if PetProfile.author_id == user.id %}
            <a href="/pet/{{PetProfile.pk}}">{{PetProfile.name}}</a><br>
            <p>Name: {{PetProfile.name}}</p>
            <p>Age: {{PetProfile.age}}</p>
            <p>Race: {{PetProfile.race}}</p>
            <p>Bio: {{PetProfile.bio}}</p>
            <br/><img src="/media/{{PetProfile.pet_image}}" width="240"></img></br>
            <p>&nbsp&nbsp</p>

        {% endif %}
    {% endfor %}
    <a href="{% url 'petmatchapp:add_pet' %}"
    <button>Add Pet</button>
    </a>
    
</div>
{% endblock %}